body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

.mobile-only {display: none;}

header {
    background-color: #0A233F;
    color: white;
    padding: 10px 20px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
}

header > a {max-width: 65%;}
header > a > img {max-width: 35%;} 

#header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#header-right > a:link {
    text-decoration: none;
    color: white;
}

#header-right > a:visited {
    color: white;
}

.top-menu {
    font-size: .75rem;
    padding: 5px 0px;
}

.top-menu > a:link {
    text-decoration: none;
    color: white;
}

.top-menu > a:visited {color: white;}

.top-menu > a:hover {
    color: #00B2E2;
    text-decoration: underline;
}

.az-index {
    font-size: .75rem;
    padding: 5px 0px 0px 0px;
}


.sub-menu-desktop {
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: center;
    align-items: space-around;
    font-weight: bold;
}

#menu-items {
    display: flex;
    justify-content: space-between;
}

#menu-items > li {
    list-style-type: none;
    margin: 0px 10px;
    padding: 0;
    text-decoration: none;
}

#menu-items > li > a:link {
    color: #11223A;
    text-decoration: none;
}

#menu-items > li > a:visited {color: #0A233F}

.hero-image {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/studying-on-green.jpg);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    font-size: 1.4rem;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    color: white;
}

.hero-text > button {
    color: 11223A;
    background-color: #00B2E2;
    font-size: 2rem;
    border: none;
    padding: 10px;

}

.links-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background: #0A233F;
    color: white;
}

.bar-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px 20px 20px;
    font-size: 1.3rem;
}

.bar-link > h2 {color: #00B2E2;}

.story-headline {
    color: #0A233F;
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: #00B2E2;
    padding: 0px 0px 10px 0px;
}

.blue-button {
    border-style: none;
    background-color: #0A233F;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px;
}

.blue-button:hover {
    background-color: #00B2E2;
    color: #0A233F;
}

.featured-stories, .news-and-events, .expression-title, .colleges, .social-media {
    color: #0A233F;
    text-align: center;
    font-size: 3rem;
}

.stories-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.story {
    width: 25%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.story > img {
    width: 100%;
    height: auto;
}

.stats {
    display: flex;
    background-color: #0A233F;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.stats > div {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.stat-blue-text {
    color: #00B2E2;
    font-size: 5rem;
    font-weight: bold;
}

.stat-white-text {
    font-weight: bold;
    font-size: 3rem;
}

.news-events-div {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.newsroom {
    width: 40%;
    margin: 20px;
}

.events {
    width: 30%;
    margin: 20px;
}

.newsroom-story > img {
    float: left;
    max-width: 150px;
    max-height: auto;
    padding: 0px 10px;
}

.calendar-event {
    display: flex;
    align-items: center;
}

.event-square {
    color: white;
    background-color: #0A233F;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    height: 60px;
    width: 60px;
    margin: 20px;
    padding: 5px;
}

.expression {
    background-color: #CDE7F3;
    color:#0A233F;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 40px 0px;
}

.expression-content {width: 60%; text-align: center;}

.college-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.college-grid > img {width: 400px;}

.social-links {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 40px;
}

@media (max-width: 600px) {
    .top-menu {display: none;}
    .sub-menu-desktop {display: none;}
    .search-area {display: none;}
    .az-index {display: none;}
    
    .hero-image {
        display: flex;
        height: auto;
    }
    
    .hero-text {
        font-size: 1.2rem;
        position: static;
        transform: translate(0%, 0%);
        text-align: left;
        padding: 20px;
    }

    .story {width: 100%;}

    .stats {
        flex-direction: column;
        padding: 20px 0px;
    }

    .stat {
        padding: 10px 0px;
        width: 100%;
        padding-bottom: 30px;
    }

    .stat-blue-text {font-size: 3rem;}
    .stat-white-text {font-size: 1.5rem;}
    .stat-credit {font-size: .5rem;}

    .social-links{
        display: block;
        padding: 10px;
    }
    
    .desktop-only {display: none;}
    .mobile-only {display: block;}
}