body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

.mobile-only {display: none;}

header {
    background-color: #0A233F;
    color: white;
    padding: 10px 20px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
}

header > a {max-width: 65%;}
header > a > img {max-width: 35%;} 

#header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#header-right > a:link {
    text-decoration: none;
    color: white;
}

#header-right > a:visited {
    color: white;
}

.top-menu {
    font-size: .75rem;
    padding: 5px 0px;
}

.top-menu > a:link {
    text-decoration: none;
    color: white;
}

.top-menu > a:visited {color: white;}

.top-menu > a:hover {
    color: #00B2E2;
    text-decoration: underline;
}

.az-index {
    font-size: .75rem;
    padding: 5px 0px 0px 0px;
}


.sub-menu-desktop {
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: center;
    align-items: space-around;
    font-weight: bold;
}

#menu-items {
    display: flex;
    justify-content: space-between;
}

#menu-items > li {
    list-style-type: none;
    margin: 0px 10px;
    padding: 0;
    text-decoration: none;
}

#menu-items > li > a:link {
    color: #11223A;
    text-decoration: none;
}

#menu-items > li > a:visited {color: #0A233F}

.menu-mobile {
    background-color: rgb(56, 56, 56);
    margin: 0;
    padding: 10px 0px;
    display: none;
}


.menu-mobile > ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.menu-mobile > ul > li {list-style-type: none; width: 100%;}

.submenu-links {
    text-decoration: none; 
    color: white;
    display: block;
    padding: 1rem;
    width: 100%;
}
.submenu-links:visited {color: white;}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.hero-image {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/studying-on-green.jpg);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
}

.hero-text {
    font-size: 1.4rem;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.hero-text > a > button {
    color: 11223A;
    background-color: #00B2E2;
    font-size: 2rem;
    border: none;
    padding: 10px;
}

.hero-text > a > button:hover {background-color: #0A233F; color: white;}

.links-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background: #0A233F;
    color: white;
    margin: 0;
}

.links-bar > a {text-decoration: none;}
.links-bar > a:visited {text-decoration: none;}

.bar-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px 20px 20px;
    font-size: 1.3rem;
    color: white;
}

.bar-link:hover {transform: scale(1.05);}
.bar-link > h2 {color: #00B2E2;}

.story-headline {
    color: #0A233F;
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: #00B2E2;
    padding: 0px 0px 10px 0px;
}

.blue-button {
    border-style: none;
    background-color: #0A233F;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px;
}

.blue-button:hover {
    background-color: #00B2E2;
    color: #0A233F;
}

.featured-stories, .news-and-events, .expression-title, .colleges, .social-media {
    color: #0A233F;
    text-align: center;
    font-size: 3rem;
}

.stories-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.story {
    width: 25%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.story > img {
    width: 100%;
    height: auto;
}

.stats {
    display: flex;
    background-color: #0A233F;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.stats > div {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.stat-blue-text {
    color: #00B2E2;
    font-size: 5rem;
    font-weight: bold;
}

.stat-white-text {
    font-weight: bold;
    font-size: 3rem;
}

.news-events-div {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.newsroom {
    width: 40%;
    margin: 20px;
}

.events {
    width: 30%;
    margin: 20px;
}

.more-news-events {
    font-weight: bold;
    text-decoration: none;
    color:#0A233F;
}

.more-news-events:hover {text-decoration: underline;}

.newsroom-story > img {
    float: left;
    max-width: 150px;
    max-height: auto;
    padding: 0px 10px;
}

.calendar-event {
    display: flex;
    align-items: center;
}

.event-square {
    color: white;
    background-color: #0A233F;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    height: 80px;
    width: 80px;
    margin: 20px;
}

.expression {
    background-color: #CDE7F3;
    color:#0A233F;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 40px 0px;
}

.expression-content {width: 60%; text-align: center;}

.college-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.college-grid > a {
    padding: 0;
    margin: 0;
    text-decoration: 0;
}


.grid-image {
    height: 480px;
    width: 480px;
    filter: grayscale(100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
}

.grid-image:hover {filter: grayscale(0%);}

.grid-image-art {background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/college-art.png);}
.grid-image-business {background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/college-business.png);}
.grid-image-computing {background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/college-computer.png);}
.grid-image-education {background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/college-education.png);}
.grid-image-health {background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/college-science.png);}
.grid-image-hicks {background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/college-honors.png);}


.grid-text {
    font-size: 1.6rem;
    color: white;
    text-align: center;
    font-weight: bold;
}


.social-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
    margin-bottom: 40px;
}

.social-links > a {color:#0A233F;}
.social-links > a:hover {transform:scale(1.1)}
.social-links > a:visited {color:#0A233F;}

.footer {
    background-color: #0A233F;
    color: white;
    padding: 20px;
    margin: 0;
}

.footer-top > img {max-height: 150px; max-width: auto;}

.footer-top {display: flex; justify-content: space-around;}

.footer-bottom {text-align: center;}

.footer-right {margin: 0; padding: 0;}
.footer-right > a, p, div {margin: 8px 0px; padding: 0;}

.footer-bottom-links > a {text-decoration: none; color: #00B2E2}
.footer-bottom-links > a:visited {text-decoration: none; color: #00B2E2}

.footer-right > div > a {text-decoration: none; color: #00B2E2}
.footer-right > div > a:visited {color: #00B2E2; text-decoration: none;}
.footer-right > p > a {text-decoration: none; color: #00B2E2}
.footer-right > p > a:visited {color: #00B2E2; text-decoration: none;}
.socials-footer > a {color: white; font-size: 1.4rem; margin: 3px;}
.socials-footer > a:visited {color: white;}

@media (max-width: 600px) {
    .top-menu {display: none;}
    .sub-menu-desktop {display: none;}
    .search-area {display: none;}
    .az-index {display: none;}
    
    .hero-image {display: flex; height: auto;}
    .hero-text {
        font-size: 1.2rem;
        position: static;
        transform: translate(0%, 0%);
        text-align: left;
        padding: 20px;
    }

    .story {width: 100%;}

    .stats {flex-direction: column; padding: 20px 0px;}
    .stat {padding: 10px 0px; width: 100%; padding-bottom: 30px;}
    .stat-blue-text {font-size: 3rem;}
    .stat-white-text {font-size: 1.5rem;}
    .stat-credit {font-size: .7rem;}


    .news-events-div {display: block;}
    .newsroom, .events {width: 90%;}
    .newsroom-story > img {float: none; width: 100%; height: auto;}

    .college-grid {display: block;}
    .grid-image {width: 100%; height: 300px; padding: 0;}

    .social-links{
        display: block;
        text-align: center;
        padding: 10px;
        font-size: 1.5rem;
    }
    .social-links > a {margin: 10px;}
    
    .footer, .footer-top, .footer-bottom {display: block; text-align: center;}
    .footer-top > img {width: 80%; height: auto;}
    .footer-right > h2 {font-size: 1rem;}

    .socials-footer {font-size: 2.2rem;}
    
    .desktop-only {display: none;}
    .mobile-only {display: block;}

    .toggle-button {display: flex;}

    .menu-mobile.active {display: flex;}
}